In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\Choi\Desktop\Dataset\Time_project\KOR\VAR\KOSPI.csv")

In [3]:
df

           Date    Adj Close
0    2000-01-01   943.880005
1    2000-02-01   828.380005
2    2000-03-01   860.940002
3    2000-04-01   725.390015
4    2000-05-01   731.880005
..          ...          ...
247  2020-08-01  2326.169922
248  2020-09-01  2327.889893
249  2020-10-01  2267.149902
250  2020-11-01  2591.340088
251  2020-12-01  2746.459961

[252 rows x 2 columns]

In [21]:
result = []

for i in range(0,249,3):
    
    n = i+3
    
    average = np.average(df["Adj Close"][i:n])
    result.append(average)

In [23]:
df2 = pd.DataFrame({
    "KOSPI" : result 
})

In [32]:
df2.to_csv(r"C:\Users\Choi\Desktop\Dataset\Time_project\KOR\VAR\k.csv",index=False)